<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Simple Web Service</title>
</head>
<body>


<table style="font-size: 20px;">
  <tr>
    <th>URL</th>
    <th>Description</th>
  </tr>
  <tr>
    <td><a href="/uptime">/uptime</a></td>
    <td>Get service uptime</td>
  </tr>
  <tr>
    <td><a href="/data">/data</a></td>
    <td>Get current data</td>
  </tr>
  <tr>
    <td><a href="/store?">/store</a></td>
    <td>Store one or multiple data pairs (add one or multiple query parameters)</td>
  </tr>
</table>

</body>
</html>
